*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.navbar{
    height: 100px;
}
.navbar-brand{
    width: 100px;
}
.navbaritem a{
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    color:black;
}
#Hero h1 span.color2{
    color: #fd723b;
}
.hero title {
    font: size 34px;
}
.title h2{ 
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
    justify-content: center;
}
.title h3{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
    justify-content: center;
    top: 100px;
}
.nav-link{
    margin: 0 15px;
}
.dropdown-toggle::after {
    display:none !important;
}
.navbar .active{
    color:#3080E3 !important;
}
.nav-link:hover{
    color: #2b62a6 !important;
}

#Hero{
    position: relative;
    padding: 130px 0;
}
.heroimg{
    position: relative;
}
.circle-5{
    height: 110px;
    position: absolute;
    width: 110px;
    background-color: pink;
    border-radius: 50%;
    z-index: -1;
    left: -31px;
    top: -43px;
}
#Hero h1 .fadeInUp{
    font-weight: 700;
    font-weight: 700;
    font-size: 38px;
    line-height: 53px;
    color: #151515;
    margin: 0px 0 18px;
    text-transform: capitalize;
    overflow: hidden;
}
h2 span{
    color: orange;
}
.parag{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #313131;
    margin: 28px 0;
}
.zoomIn{
    border-radius: 30px;
    border: 2px solid #3080E3;
}
.signin{
    background-color:blacks;
    color:white;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
}
.signup{
    background-color: #fff;
    color:black;
    padding: 10px 25px;
    border-radius: 30px;
    font-weight: 500;
    text-decoration: none;
}
.signin:hover{
    text-decoration:underline;
    color: #fff;
}
.signup:hover{
    background-color: #FD723B;
    color: #fff;
}
.button .btn:hover{
    background-color: #FD723B;
    color: #fff;
}
.button .btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    background-color: #3080E3;
    color: #fff;
    border: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    margin-right: 7px;
    overflow: hidden;
}
#Services .services{
    justify-content: center;
}
#Services .title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.circle-1{
    width: 1000px;
    height: 1000px;
    position: absolute;
    background-color: #3080E3;
    border-radius: 50%;
    top: -170px;
    right: -450px;
    z-index: -1;
}
.circle-4{
    border-radius:  50%;
    top: 31%;
    left: 30px;
    width: 48px;
    height: 48px;
    background: #FAB8C4;
    position: absolute;
}
.circle-3{
    top: -290px;
    left: -180px;
    width: 350px;
    height: 350px;
    background: #fd723b;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.circle-2{
    right: calc(50% - 270px);
    bottom: -75px;
    z-index: 2;
    width: 150px;
    height: 150px;
    background: #FAB8C4;
    position: absolute;
    border-radius: 50%;
}
#Services{
    background-color: #F4F7FA;
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
    box-sizing: border-box;
    display: block;
}
.service-one{
    padding: 35px;
    border-radius: 18px;
    -webkit-box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    background-color: #fff;
    margin-top: 30px;
}
.service-two{
    padding: 35px;
    border-radius: 18px;
    -webkit-box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    background-color: #fff;
    margin-top: 30px;
}
.service-three{
    padding: 35px;
    border-radius: 18px;
    -webkit-box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    box-shadow: 0px 15px 30px rgb(0 0 0 / 5%);
    background-color: #fff;
    margin-top: 30px;
}
.processing{
    padding: 110px 0px;  
}
.process h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
}
.main{
    color: #3080E3;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
#About{
    background-color: #151515;

}
.fadeInRight{
    box-sizing: border-box;

}
.aboutmain{
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.fadeIn{
    padding: 110px;
}
.aboutmain h4{
    color: #3080E3;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}
.aboutmain h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
}
.aboutmain p{
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
}
.action .icon-button{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:#3080E3;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px 30px 0px;
}
#Process .action h4{
    color:#fff;
}
#Pricing{
    background-color: #F4F7FA
}
.Pricing{
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}
.Pricing h1{
    display: flex;
    justify-content: center;
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    font-weight: 700;
}
.zoom{
    border-radius: 70%;
    justify-content: center;
    display: flex;
}

#Testimonials{
    background-color:#F4F7FA;
}
#call{
    background-color: #fff;
    margin: 0;
    padding: 0;
}
.icon{
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 15px;
    color: #fff;
    background-color: #3080E3;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 10px 30px rgb(48 128 227 / 18%);
}
.service-two .icon{
    background-color: #fd723b;
}
.service-three .icon{
    background-color: #FFA842;
}
.service-one h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}
.service-two h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}
.service-three h3{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 40px;
}
.url{
    text-decoration: none;
    transition: 0.3s ease;
}
.url:hover{
    letter-spacing: 2px;
    transition: 0.3s ease;
} 
.url.two{
    color:#fd723b
}
.url.three{
    color:#FFA842
}
.process-icon{
    border-radius: 50%;
}
.single-list{
    display: flex;
    flex-flow: row;
}
.process-icon{
    border-radius: 50%;
    background: rgb(0, 119, 255);
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: #F4F7FA;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    color: rgb(0, 119, 255);
}
.process-icon:hover{
    background-color: #3080E3;
    color:#F4F7FA
}
.fadeP{
    margin-bottom: 50px;
}
.abouti{
    border-radius: 50%;
    background: rgb(0, 119, 255);
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    background-color: #F4F7FA;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    color: rgb(0, 119, 255);  
}

.table{
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}
.pricing-title{
    margin-bottom: 50px;
}
.pricing-title{
    font-size: 15px;
    line-height: 26px;
}
.pricing-title h2{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}
.prh{
    display: inline-block;
    justify-content: center;
    left:50px;
}
.card-title.prh{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    width: 130px;
    text-transform: capitalize;
}
.pricing-title h3{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}
.pricing-table .section-title {
    margin-bottom: 50px;
}
.table .pricing-title{
    margin-bottom: 50px;
}
.pricing-title {
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
}
.pricing-title p{
    font-size: 15px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
}
#Achievement{
    background-color:white;
}
.achi{
    margin-top: 100px;
    margin-bottom: 100px;
}
.achi-title h3{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}
.achi-title{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
}
.achi-title h2{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
    color: #151515;
    font-family: 'Poppins', sans-serif;
}
.achi-title p{
    font-size: 15px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
}
row-col-2{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
#Testimonials{
    background-color: #F4F7FA;
    position: relative;
    padding-bottom: 180px;
}
.test-title h3{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}
.test{
    margin-top: 100px;
    margin-bottom: 100px;
}
.test-title{
    text-align: center;
    margin-bottom: 80px;
    padding: 0 300px;
    position: relative;
    z-index: 5;
}
.test-title h2{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
    color: #151515;
    font-family: 'Poppins', sans-serif;
}
.test-title p{
    font-size: 15px;
    line-height: 26px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #727272;
}
.testimg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
#hero-8 .hero-8 {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
#hero-8 .hero-8 .card-group .card img{
    justify-content: center;

}
#hero-8 {
    padding-bottom: 0px;
}

#hero-8 .blogs{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}

#hero-8 .our{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}



#hero-9 .content{
    position: relative;
    padding: 50px;
    border-radius: 10px;
    background-color: #3080E3;
    z-index: 0;
    overflow: hidden;
}
#hero-9 .content img{
    position: absolute;
    z-index: -1;
    left: 600px;
}

#hero2 .icon-area i{  
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .list-icon{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #3080E3;
    font-size: 22px;
    margin-top: 40px;
}

#hero-9.button .start {
    background-color: #fff;
    color: #151515;
}

.cardService{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cards{
    width: 30% !important;
}

.card1{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
   
    margin: 10px;
    
}
.card1 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.card2{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
   
    margin: 10px;
    
}
.card2 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.card3{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
  
    margin: 10px;
    
}
.card3 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.footer {
    background-color: #fff;
    position: relative;
    padding-right: 30px;
    
}

.footer p{
    margin: 50;
    padding: 50;
    line-height: 34px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

.footer .single-footer h3{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #151515;
    margin: 0px;
    margin-bottom: 35px;
    margin-top: 4px;
}
.footer .single-footer a{
    font-size: 15px;
    font-weight: 400;
    color: #727272;
    display: inline-block;
    text-decoration: none;
    
}
.footer .pc{
    padding-left: 80px;
}

.footer .blink{
    padding-right: 30px;
}
.footer .grayg{
    text-decoration: none;

}
.footer .grayg:hover{
    color:orange;
}
.footer .single-footer p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 35px;
}
.inputs{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.footer .inputs{
    height: 55px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: none;
    text-shadow: none;
    padding-left: 18px;
    padding-right: 65px;
    transition: all 0.4s ease;
}
.footer .button{
    top: 6px;
    left: 236px;
    height: 42px;
    width: 42px;
    border-radius: 6px;
    background-color: #3080E3;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 17px;
    transition: all 0.4s ease;
}

.footer h3{
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #151515;
}
.footer li a{
    font-size: 15px;
    font-weight: 400;
    color: #727272;
    display: inline-block;
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
}

.rengareng{
    position: relative;
    padding-top: 140px;
    padding-bottom: 50px;
    z-index: 2;
    text-align: left;
    background: linear-gradient(-45deg, #fd723b, #3080E3);
    -webkit-box-shadow: 0px 7px 30px rgb(0 0 0 / 8%);
    box-shadow: 0px 7px 30px rgb(0 0 0 / 8%);

}
#hero-9 .ready{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-9 .buttom{
    background-color: #fff;
    color: #151515;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    border: none;
    margin: 0;
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}

#hero-9 a{
    color: black;
    text-decoration: none;
}
.rengareng .rengareng-content .page-title{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: relative;
    line-height: 28px;
    text-transform: capitalize;
}
.rengareng .rengareng-nav li a{
    position: relative;
}
.rengareng-nav li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}
.rengareng .rengareng-nav li:last-child{
    margin: 0;
    padding: 0;
}
.rengareng .rengareng-nav li{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}

.contact-us {
    position: relative;
    background-color: #F4F7FA;
}

.section {
    padding-top: 110px;
    padding-bottom: 110px;
    position: relative;
}

.contact-us .contact-form form {
    padding: 50px;
    border-radius: 12px;
    background-color: #fff;
}

.contact-us .contact-form .form-group label {
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

.contact-us .contact-form .form-group input {
    height: 55px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0px 20px;
    width: 100%;
    transition: all 0.4s ease;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.contact-us .contact-form .form-group {
    margin-top: 25px;
}

.contact-us .contact-form .form-group textarea {
    height: 200px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px;
    resize: none;
    width: 100%;
    transition: all 0.4s ease;
    margin: 0;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
}

.form-control {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
}

.contact-us .contact-form .button .btn {
    width: 100%;
}

.button .btn:last-child {
    margin: 0;
}

.button .btn {
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    background-color: #3080E3;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
 }
 #hero0{
    position: relative;
    background-color: #F4F7FA;
 }

 #hero0 .form-control{
    height: 55px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 0px 20px;
    width: 100%;
 }

 #hero0 .form-label{
    font-size: 15px;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
 }

 #hero0 .message{
    height: 200px;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 20px;
    resize: none;
    width: 100%;
 }

  .button .btn{
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    background-color: #3080E3;
    color: #fff;
    border: none;
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  #about .yazilar h4 {
    color: #3080E3;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 13px;
}
#about .yazilar h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    margin: 13px;
    color: #151515;
    font-family: 'Poppins', sans-serif;
}
#about .yazilar p {
    font-size: 16px;
    margin-top: 25px;
    margin: 0;
    padding: 12px;
    line-height: 24px;
}
#about .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
#about .yazilar .list .single-list h4 {
    color: #151515;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 500;
}
#about .yazilar .list .single-list p {
    margin: 0;
    font-size: 16px;
    padding: 0;
    line-height: 24px;
}


#aydan {
    position: relative;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: -1;
    color: white;
    background-color: #151515;
}

#aydan h4 span{
    color: #3080E3;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

#aydan .getting{
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    color: #fff;
} 

#aydan .sed{
    font-size: 16px;
    margin-top: 25px;
    color: #fff;
}
#aydan ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
#aydan .why-choose-list {
    margin-top: 60px;
}
#aydan .why-choose-list li .list-content {
    display: inline-block;
    padding: 0;
    padding-left: 80px;
}

#aydan .why-choose-list li .list-content h3 {
    font-size: 19px;
    font-weight: 600;
    display: block;
    color: #fff;
    margin: 0px;
    line-height: 1.2;
    font-family: 'Poppins', sans-serif;
}
#aydan .why-choose-list li .list-content p {
    margin: 0;
    margin-top: 15px;
    color: #cecece;
    font-size: 16px;
    padding: 0;
    line-height: 24px;
}

#aydan .why-choose-list li .number {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: #3080E3;
    color: #fff;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    font-size: 16px;
}



#hero-6 .hero-6 {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative

}

#hero-6 h3 span{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}
#hero-6 .software{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}
#hero-6 {
    padding-bottom: 65px;
}

#hero-6 .six{
    display: flex;
    justify-content: center;

}


#testi .hero-7 {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative

}

#testi .hero-7{
    justify-content: center;
}

.hero-7 img{
    width: 50px !important;
}

.client-logo {
    background-color: #F4F7FA;
    padding: 60px 0;
    
}

.single-logo img {
    max-width: 2000%;
}

.client-logo .single-logo {
    padding: 0 30px;
}

.owl-nav{
    display: none !important;
}

.owl-dots{
    padding-top: 40px;

}

.owl-theme .owl-dots .owl-dot span{
    width: 15px;
    height: 5px;
}

.owl-theme .owl-dots .owl-dot.active span{
   background-color:#3080E3 !important;
   width: 25px;
   
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 5px !important;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3080e3 !important;
    width: 25px !important;
    height: 5px !important; 
}#hero-8 .hero-8 {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
#hero-8 .hero-8 .card-group .card img{
    justify-content: center;

}
#hero-8 {
    padding-bottom: 0px;
}

#hero-8 .blogs{
    font-size: 15px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
    color: #3080E3;
    border: 2px solid #3080E3;
    border-radius: 30px;
    padding: 8px 30px;
    text-transform: capitalize;
}

#hero-8 .our{
    font-size: 34px;
    margin-bottom: 25px;
    line-height: 42px;
    text-transform: capitalize;
    position: relative;
    font-weight: 700;
}



#hero-9 .content{
    position: relative;
    padding: 50px;
    border-radius: 10px;
    background-color: #3080E3;
    z-index: 0;
    overflow: hidden;
}
#hero-9 .content img{
    position: absolute;
    z-index: -1;
    left: 600px;
}

#hero2 .icon-area i{  
    height: 65px;
    width: 65px;
    line-height: 65px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .list-icon{
    height: 60px;
    width: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    border-radius: 50%;
    color: #3080E3;
    font-size: 22px;
    margin-top: 40px;
}

#hero-9.button .start {
    background-color: #fff;
    color: #151515;
}

.cardService{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cards{
    width: 30% !important;
}

.card1{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
   
    margin: 10px;
    
}
.card1 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.card2{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
   
    margin: 10px;
    
}
.card2 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.card3{
    background-color: white;
    border-radius: 18px;
    padding: 35px;
  
    margin: 10px;
    
}
.card3 a{
    color: #3080E3;
    margin-top: 40px;
    display: inline-block;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.footer {
    background-color: #fff;
    position: relative;
    padding-right: 30px;
    
}

.footer p{
    margin: 50;
    padding: 50;
    line-height: 34px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
}

.footer .single-footer h3{
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #151515;
    margin: 0px;
    margin-bottom: 35px;
    margin-top: 4px;
}
.footer .single-footer a{
    font-size: 15px;
    font-weight: 400;
    color: #727272;
    display: inline-block;
    text-decoration: none;
    
}
.footer .pc{
    padding-left: 80px;
}

.footer .blink{
    padding-right: 30px;
}
.footer .grayg{
    text-decoration: none;

}
.footer .grayg:hover{
    color:orange;
}
.footer .single-footer p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 35px;
}
.inputs{
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.footer .inputs{
    height: 55px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #eee;
    box-shadow: none;
    text-shadow: none;
    padding-left: 18px;
    padding-right: 65px;
    transition: all 0.4s ease;
}
.footer .button{
    top: 6px;
    left: 236px;
    height: 42px;
    width: 42px;
    border-radius: 6px;
    background-color: #3080E3;
    color: #fff;
    text-align: center;
    line-height: 42px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 17px;
    transition: all 0.4s ease;
}

.footer h3{
    font-size: 17px;
    font-weight: 600;
    display: block;
    margin-bottom: 35px;
    color: #151515;
}
.footer li a{
    font-size: 15px;
    font-weight: 400;
    color: #727272;
    display: inline-block;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

.rengareng{
    position: relative;
    padding-top: 140px;
    padding-bottom: 50px;
    z-index: 2;
    text-align: left;
    background: linear-gradient(-45deg, #fd723b, #3080E3);
    -webkit-box-shadow: 0px 7px 30px rgb(0 0 0 / 8%);
    box-shadow: 0px 7px 30px rgb(0 0 0 / 8%);

}
#hero-9 .ready{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hero-9 .buttom{
    background-color: #fff;
    color: #151515;
    display: inline-block;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    border: none;
    margin: 0;
    transition: all 0.3s ease;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
#hero-9 .buttom:hover{
    background-color: #fd723b;
}

#hero-9 a{
    color: black;
    text-decoration: none;
}
.rengareng .rengareng-content .page-title{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: relative;
    line-height: 28px;
    text-transform: capitalize;
}
.rengareng .rengareng-nav li a{
    position: relative;
}
.rengareng-nav li a{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
}
.rengareng .rengareng-nav li:last-child{
    margin: 0;
    padding: 0;
}
.rengareng .rengareng-nav li{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;}
.footer{
    margin-top: 150px;
}
.foot-btn:hover{
    background-color: #FD723B;
}
.logo{
    width: 30%;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
  }
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 5px !important;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3080e3 !important;
    width: 25px !important;
    height: 5px !important; 
}
.card-title{
    color:#3080e3;
}
.news{
    color:#151515;
}
.br{
    color:black;
}
.prhhh{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
ul{
    list-style: none;
}


.pricing-table .single-table .table-head .price .amount {
    font-size: 45px;
    font-weight: 600;
    display: inline-block;
    position: relative;
    padding-left: 15px;
}
.button-pricing{
    font-size: 15px;
    font-weight: 500;
    padding: 16px 30px;
    background-color: #3080E3;
    color: #fff;
    border: none;
    border-radius: 8px;
}

#reviews {
    margin: auto;
  }
  #reviews .review .half-cirlce-1 {
    background-color: #fab8c4;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 40px;
  }
  #reviews .review .half-cirlce-2 {
    width: 70px;
    height: 70px;
    background-color: #ffa842;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
    right: -15px;
  }
  #reviews .review .arrow {
    position: absolute;
    width: 85px;
    bottom: -25px;
    right: -25px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 50px;
  }
  
  .owl-theme .owl-dots .owl-dot span {
    width: 10px !important;
    height: 5px !important;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 0.2s ease;
  }
  
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3080e3 !important;
    width: 25px !important;
    height: 5px !important;
  }